body {
  background: #121212;
}
.gallery {
  max-width: 1000px;
  margin: 0 auto;
}

.wrapper {
  position: relative;
  overflow: hidden;
  min-height: 100%;
  background: #121212;
}

.container {
  max-width: 1680px;
  margin: 0 auto;
  background: #121212;
}
